@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 95vh;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 12vw;
    text-align: center;
    text-transform: uppercase;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.box--items {
    width: 22vw;
}

.part-of-speech {
    font-weight: bold;
    margin-right: 10px;
}

.meaning--box {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    height: 50vh;
    width: 80%;
    overflow-y: scroll;
    border: 2px solid #fb8500;
    /* background-color: #8ecae6; */
    /* border-radius: 5px; */
    padding: 15px;
    padding-right: 30px;
    text-align: center;
}

.meaning--box::-webkit-scrollbar {
    width: 17px;
}

.meaning--box::-webkit-scrollbar-track {
    background: #ffb703;
}

.meaning--box::-webkit-scrollbar-thumb {

    background-color: #fb8500;
    border: 4px solid transparent;
    background-clip: content-box;
}
.audio{
    width: 100%;
    height: 40px;
}
.audio::-webkit-media-controls-panel{
    background-color: #ffb703;
}

@media (max-width:700px) {
    .boxes {
        flex-direction: column;
        align-items: center;
    }

    .box--items {
        width: 70%;
    }
}

li,
.b--margin {
    margin-bottom: 7px;
}